@page
@using MainApp.Areas.Identity.Pages.Account.Manage
@model IndexModel
@{
    Layout = "_GymLayout";
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/Gym_Tem/img/breadcrumb-bg.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>@ViewData["Title"]</h2>
                    <div class="bt-option">
                        <a asp-page="/Index">Hem</a>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index">Konto</a>
                        <span>Profil</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Profile Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-4">
                <div class="contact-widget">
                    <div class="section-title contact-title">
                        <span>Konto</span>
                        <h2>My Settings</h2>
                    </div>
                    <partial name="_ManageNav" />
                </div>
            </div>

            <!-- Profile form -->
            <div class="col-lg-8">
                <div class="leave-comment">
                    <partial name="_StatusMessage" for="StatusMessage" />

                    <form id="profile-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <input asp-for="Input.UserName" placeholder="Användarnamn" class="form-control mb-3" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>

                        <button id="update-profile-button" type="submit" class="site-btn">Spara ändringar</button>
                    </form>

                    <hr class="my-4" />

                    <div>
                        <h4 class="mb-2" style="color:#222;">Change Password</h4>
                        <p style="color:#555;">
                            Go to
                            <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword"
                               class="text-decoration-underline gym-link">Change Passowrd</a>
                            Update Your Password.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Profile Section End -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
